<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <title>Bienvenue, trouvez votre billet</title>
</head>
<body>
    <header>
        <nav>
            <div class="logo_ctn">
                <a href="./homepage"><img src="../images/train.png" alt="logo"></a>
                <a href="./homepage">Ticketac</a>
            </div>
            <ul>
                <li><a class="deconnexion" href="./logout">Déconnexion</a></li>
                <li><a href="./lasttrips">Mes derniers voyages</a></li>
            </ul>
        </nav>
    </header>

    <section id="main_content">
        <h3 class="titreform">Billet en aller simple</h3>
        <div>
            <form action="/homepage" method="post">
                <input class="input" type="text" name="departureFromFront" placeholder="Départ" required>
                <input class="input" type="text" name="arrivalFromFront" placeholder="Arrivée" required>
                <input class="input" type="date" name="dateFromFront" placeholder="Date" required>
                <input class="btn" type="submit" name="submit" value="Go !">
            </form>
        </div>
            <img class="landmark" src="../images/landmark.png" alt="landmark">
    </section>
    
    <footer>
        <p>© La Capsule - Batch #50</p>
    </footer>
</body>
</html>