<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <title>Homepage</title>
</head>
<body>

    <section id="header">
        <nav>
            <div class="logo-ctn">
                <img class="logo" src="../images/train.png" alt="logo">
                <h1 class="name">Ticketac</h1>
            </div>
            <div class="nav_links">
                <ul>
                    <li><a class="connection" href="#">Connexion</a></li>
                    <li><a href="#">Mes derniers voyages</a></li>
                </ul>
            </div>
        </nav>
    </section>

    <section id="body">

        <div class="search_ctn">
            <h2>Aller simple :</h2>
            <div class="input_ctn">
                <div class="input_search">
                    <input class="input" type="text" name="departure" placeholder="From ...">
                    <input class="input" type="text" name="arrival" placeholder="To ...">
                    <input class="input" type="date" name="date" placeholder="Date ...">
                    <input class="btn" type="submit" name="submit" value="Go !">
                </div>
                <div>
                    <img class="landmark" src="../images/landmark.png" alt="landmark">
                </div>
            </div>
        </div>

    </section>




    
    <section id="footer">
        <div>
            <p>Batch #50 - La Capsule</p>
        </div>
    </section>

    
</body>
</html>