<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <title>Page de connexion</title>
</head>
<body>

    <header>
        <nav>
            <div class="logo_ctn">
                <a href="#"><img src="../images/train.png" alt="logo"></a>
                <a href="#">Ticketac</a>
            </div>
            <ul>
                <li><a class="connexion" href="#">Déconnexion</a></li>
                <li><a href="#">Mes derniers voyages</a></li>
            </ul>
        </nav>
    </header>

    <section id="main_content">
        <div class="blocconnect">
            
            <!-- SIGN IN -->
            <div class="blocsignin">
              <h3 class="titreform">Se connecter</h3>
              <form action="/sign-in" method="post">
                <div class="champs"><input class="input" type="email" name="emailFromFront" placeholder="Adresse mail" required></div>
                <div class="champs"><input class="input" type="password" name="passwordFromFront" placeholder="Mot de passe" required></div>
                <div class="champs"><button class="btn" type="submit">Valider</button></div>
              </form>
            </div>

            <!-- SIGN UP -->
            <div class="blocsignup">
              <h3 class="titreform">S'enregistrer</h3>
              <form action="/sign-up" method="post">
                <div class="champs"><input class="input" type="text" name="firstnameFromFront" placeholder="Prénom" required></div>
                <div class="champs"><input class="input" type="text" name="lastnameFromFront" placeholder="Nom" required></div>
                <div class="champs"><input class="input" type="email" name="emailFromFront" placeholder="Adresse mail" required></div>
                <div class="champs"><input class="input" type="password" name="passwordFromFront" placeholder="Mot de passe" required></div>
                <div class="champs"><button class="btn" type="submit" class="btn btn-info">Valider</button></div>
              </form>
            </div>
          </div>
    </section>

    <footer>
        <p>© La Capsule - Batch #50</p>
    </footer>

    
</body>
</html>