<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <title>Page de connexion</title>
</head>
<body>

    <section id="header">
        <nav>
            <div class="logo-ctn">
                <img class="logo" src="../images/train.png" alt="logo">
                <h1 class="name">Ticketac</h1>
            </div>
            <div class="nav_links">
                <ul>
                    <li><a class="connection" href="#">Connexion</a></li>
                    <li><a href="#">Mes derniers voyages</a></li>
                </ul>
            </div>
        </nav>
    </section>

    <section id="body">
        <div class="blocconnect">
            <!-- SIGN UP -->
            <div class="blocsignup">
              <h4 class="titreform">S'enregistrer</h4>
              <form action="/users/sign-up" method="post">
                <input type="text" name="firstnameFromFront" placeholder="Prénom" required>
                <input type="text" name="lastnameFromFront" placeholder="Nom" required>
                <input type="email" name="emailFromFront" placeholder="Adresse mail" required>
                <input type="password" name="passwordFromFront" placeholder="Mot de passe" required>
                <button type="submit" class="btn btn-info">Valider</button>
              </form>
            </div>
            <!-- SIGN IN -->
            <div class="blocsignin">
              <h4 class="titreform">Se connecter</h4>
              <form action="/users/sign-in" method="post">
                <input type="emailFromFront" name="email" placeholder="Adresse mail" required>
                <input type="passwordFromFront" name="password" placeholder="Mot de passe" required>
                <button type="submit">Valider</button>
              </form>
            </div>
          </div>
    </section>




    
    <section id="footer">
        <div>
            <p>Batch #50 - La Capsule</p>
        </div>
    </section>

    
</body>
</html>